[mq]
url = "pulsar://<the service url from `minikube service`>"
topics = [ "email-pipeline-start", "email-pipeline-fetch-users", "email-pipeline-generate-email", "email-pipeline-send-email", "email-pipeline-record-send-result" ]

[[handlers]]
task_selector = { type = "email-pipeline-start" }
endpoint = "http://localhost:3000/start"

[[handlers]]
task_selector = { type = "email-pipeline-fetch-users" }
endpoint = "http://localhost:3000/fetch-users"

[[handlers]]
task_selector = { type = "email-pipeline-generate-email" }
endpoint = "http://localhost:3000/generate-email"

[[handlers]]
task_selector = { type = "email-pipeline-send-email" }
endpoint = "http://localhost:3000/send-email"

[[handlers]]
task_selector = { type = "email-pipeline-record-send-result" }
endpoint = "http://localhost:3000/record-send-result"
